<%= form_for(@position) do |f| %>
  <% if @position.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@position.errors.count, "error") %> prohibited this position from being saved:</h2>

      <ul>
      <% @position.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :spread_id %><br>
    <%= f.number_field :spread_id %>
  </div>
  <div class="field">
    <%= f.label :position_order %><br>
    <%= f.number_field :position_order %>
  </div>
  <div class="field">
    <%= f.label :position_x %><br>
    <%= f.number_field :position_x %>
  </div>
  <div class="field">
    <%= f.label :position_y %><br>
    <%= f.number_field :position_y %>
  </div>
  <div class="field">
    <%= f.label :meaning_normal %><br>
    <%= f.text_field :meaning_normal %>
  </div>
  <div class="field">
    <%= f.label :meaning_reversed %><br>
    <%= f.text_field :meaning_reversed %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
